body {
    background: #f6f6f6;
    padding: 0;
}
.grid {
    padding: 0;
}

.table {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 13px;
}

.table .table_row {
    display: table-row;
}
.table .cell {
    display: table-cell;
}

