.section{
    background: yellow;
    text-align: center;
}





.section_1{
    background: #0088cc;
}




.section_2{
    background: #888888;
}



.section_3{
    background: #006c29;
}



.section_4{
    background: #ffffff;
}