body {
    padding: 0;
    margin: 0;
    background: #f6f6f6;
}

.box_1 .mobile-col-1-1 h2{
    margin-bottom: 1px;
    font-size: 1.2em;
    margin-top: 30px;
}
.box_1 .mobile-col-1-1 p {
    font-size: 0.8em;
    line-height: 140%;
    margin-top: 5px;
}
.box_1  .table .cell {
    vertical-align: middle;
}

.table .cell a{
    text-decoration: none;
    display: inline-block;
    color: #000;
}

.box_1 .mobile-col-1-1 .content .table .cell img{
    width: 100%;
    margin-top: 15px;
}



.box2 {
    text-align: center;
    padding: 0 30%;
}

.box2 input {
    width: 337px;
    height: 56px;
    border-radius: 4px;
    font-size: 13pt;
    margin-bottom: 30px;
    padding-left: 5px;
    box-shadow: 0 0 8px #d3d3d3;

}


.box2 .nav2{
    background: #00764b;
    width: 88%;
    height: 50px;
    border-radius: 5px;
    color: #ffffff;
    line-height: 35px;
    text-decoration: none;
    font-size: 11pt;
    display: inline-block;
}

.box2 .nav2:hover{
    background: #2E8B57;
}




.box3 {
    text-align: center;
    padding-top: 20px;
}

.box3 h2 {
    text-decoration: none;
    font-size: 10pt;
    color: #999;
    font-weight: 300;
}

.box3 h2 a:link, a:active, a:visited {
    color: #08c;
    text-decoration: none;
    margin-left: 5px;
}

.box3 h2 a:hover {
    text-decoration: underline;
}

.box4 {
    position: relative;
}

.box4 .nav {
    background: #e9e9e9;
    position: fixed;
    text-align: center;
    bottom: 0;
    width:100%;
}



.box4 a {
    display: inline-block;
    text-decoration: none;
    width: 33%;
    color: #dedede;

}

.box4 a:hover{
    background: #dddddd;

}

.box4 .nav{
    border-left: 1px solid #dddddd;
    border-right:1px solid #dddddd ;
}
.box4 h2 {
    margin: 0;
    color: #000;
    font-size: 13pt;
    font-weight: bold;
}

.box4 img {
    display: inline-block;
    width: 30%;
    margin-top: 20px;
}


@media handheld, only screen and (max-width: 767px) {

    .box2 {
        text-align: center;
        padding: 0;
        margin-top: 40px;
    }

    .box2 input {
        width: 88%;
        border: 1px solid #d9d9d9;
        height: 50px;
        border-radius: 4px;
        font-size: 14pt;
        margin-bottom: 30px;
        padding-left: 5px;
        box-shadow: 0 0 8px #d3d3d3;
    }

    .box2 .nav2{
        background: #00764b;
        width: 88%;
        display: inline-block;
        height: 50px;
        border-radius: 5px;
        color: #ffffff;
        line-height: 50px;
        text-decoration: none;
        font-size: 14pt;
    }

    .box2 .nav2:hover{
        background: #2E8B57;
    }


    .box4 {
        position: relative;
    }

    .box4 .nav {
        background: #e9e9e9;
        position: fixed;
        text-align: center;
        bottom: 0;
    }



    .box4 a {
        display: inline-block;
        text-decoration: none;
        width: 32.4%;
        color: #dedede;

    }

    .box4 a:hover{
        background: #dddddd;

    }


    .box4 h2 {
        color: #333;
        font-weight: 300;
        font-size: 13pt;
        margin-bottom: 8px;
    }

    .box4 .nav1{
        border-left: 1px solid #dedede;
        border-right: 1px solid #dedede;
    }

    .box4 img {
        display: inline-block;
        margin-top: 5px;
    }


}
















