.box_1 .mobile-col-1-1 h2{
 margin-bottom: 1px;
 font-size: 2em;
 margin-top: 20px;
}
.box_1 .mobile-col-1-1 p {
 font-size: 1.3em;
 line-height: 180%;
 margin-top: 5px;
}

.box_2 {
 padding-top: 0;
}
.table {
 display: table;
 width: 100%;
 border-collapse: separate;
 border-spacing: 13px;
}

.table .table_row {
 display: table-row;
}

.box_2  .table .cell {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
 border: 1px solid #dedede;
 width: 33.33%;
 background: #EEE;
 padding: 10px;

}

.table .cell h3 {
 margin-top: 6px;
 font-size: 16pt;

}