.box_1 .mobile-col-1-1 h2{
 margin-bottom: 1px;
 font-size: 1.2em;
 margin-top: 20px;
}
.box_1 .mobile-col-1-1 p {
 font-size: 0.8em;
 line-height: 140%;
 margin-top: 5px;
}
.box_1  .table .cell {
 vertical-align: middle;
}

.box_1 .mobile-col-1-1 .content .table .cell img{
 width: 100%;
 margin-top: 10px;
}

.box_2 {
 padding-top: 0;
}

.box_2  .table .cell {

 text-align: center;
 vertical-align: middle;
 border: 1px solid #dedede;
 width: 33.33%;
 background: #EEE;
 padding: 20px 10px 0 10px;
}

.box_2 .mobile-col-1-1{
 padding-left: 9px;
}


.box_2 .table .cell img{
 width: 40%;
}

.table .cell h3 {
 margin-top: 6px;
 font-size: 12pt;
 font-weight: 300;
}


footer{
 text-align: center;
 padding-top:20px ;
}



footer h2{
 text-decoration: none;
 font-size: 10pt;
 color: #999;
 font-weight: 300;
}


footer h2 a:link,a:active,a:visited{
 color: #08c;
 text-decoration: none;
 margin-left: 5px;
}

footer h2 a:hover{
 text-decoration: underline;
}
