body{
    padding: 0;
    margin: 0;
    background: #f6f6f6;
}

.box1{
    border:1px solid red;
    padding: 0px;
}

.box1 .header{
    border: 1px solid red;
    height: 155px;
}

.box1 .header img{
    float: left;
    margin-right: 10px;

}


.box1 .header h2{
    margin-bottom: 0;
}
.box1 .header p{
    margin-top: 10px;
    line-height: 20px;
    font-size: 0.8em;
}


.box1 .box2{
    border: 1px solid red;
    height: 180px;

}

.box1 .box2 h3{
    display: inline-block;
}


.box1 .box2 h3{
    float: left;
}



.box1 .box3{
    border: 1px solid red;
    height: 40px;
}




@media handheld, only screen and (max-width: 767px){
    .header{
        width: 100%;
    }
    .box_2{
        width: 55%;
    }

}


